---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';

const projects = [
  { title: "Epimetheus", image: "src/assets/placeholder.png", link: "epimetheus" },
  { title: "VIVI", image: "src/assets/placeholder.png", link: "vivi" },
  { title: "Digital Vases", image: "src/assets/placeholder.png", link: "vases" },
  { title: "Technofossils_archive", image: "src/assets/placeholder.png", link: "technofossils" },
  // add more
];
---

<Layout>
  <section class="project-grid">
    {projects.map((project) => (
      <ProjectCard {...project} />
    ))}
  </section>
</Layout>

<style>
  .project-grid {
	display: grid;
/*	grid-template-columns: repeat(2, 1fr); /* Exactly 2 columns */
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
	padding: 2rem;
  }
</style>