---

---

<aside class="sidebar">
    <h1>Matilde Ghidini</h1>
    <p>Ciao! I'm Matilde Ghidini and this is my portfolio.</p>

    <nav>
        <a href="/">Projects</a>
        <a href="/about">About</a>
    </nav>

    <div class="contact-section">
        <p>Contact me:</p>
        <a href="mailto:3GZtH@example.com">3GZtH@example.com</a>
        <a href="https://www.linkedin.com/in/matildeghidini/">Linkedin</a>
    </div>

</aside>

<style>
    nav {
        display: flex;
        flex-direction: column;
    }

    .contact-section {
        display: flex;
        flex-direction: column;
    }
</style>
  